body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}
.main-container {
  background-color: grey;
  width: 80%;
}
.header {
  display: flex;
  background-color: white;
  margin: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.header__logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  max-width: 50%;
  height: auto;
}
.header__menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu ul{
  list-style-type: none;
  display: flex;
  background-color: grey;
  justify-content: center;
  padding-left: 0;
}
.header__menu ul > li{
  padding: 1rem;
}
.header__menu ul > li a {
  text-decoration: none;
}
.header__button {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}
.header__button button:first-child {
  margin-right: 1rem;
}
.button {
  padding: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
}
.primary {
  background-color: blue;
  color: #ffffff;
}
.hero {
  border: black 1px solid;
  background: url(images/wasteland.png);
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}
.achivements {
  display: flex;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  justify-content: center;
  border-bottom: solid 1px black;
}
.achivements__item {
  flex: 1;
  padding: 0.5rem 0;
}
.achivements__item span {
  font-size: 2rem;
}
.technologies {
  display: flex;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: black 1px solid;
}
.technologies__blog {
  flex: 2;
}
.technologies__blog > h2 {
  text-align: center;
}
.technologies__blog > h2:first-child {
  font-size: 0.7rem;
}
.blog-content {
  display: flex;
  justify-content: center;
}
.blog-content__img {
  flex: 1;
  margin: 1rem;
}
.blog-content__img img {
  max-width: 100%;
  height: auto;
  border: black solid 1px;
}
.blog-content__description {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-content__description:last-child {
  margin-bottom: 0.5rem;
}
.technologies__stack {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  border-left: black 1px solid;
  padding-left: 1rem;
}
.stack-item {
  display: flex;
  margin-top: 1rem;
}
.stack-item img { 
  width: 40px;
  height: 40px;
}
.stack-item__details p {
  margin: 0;
}